body {
    background-color: #464646;
    font-family: 'Muli', sans-serif;
}

#left-tab-panel {
    border: 1px solid #333333;
}

.content {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 80vw;
    min-height: 40vh;
    width: 80vw;
    height: 90vh;
}

.main-content {
    background: white;
    display: flex;
    flex-direction: row;
}

.tab-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tab-text-area{
    overflow: scroll;
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    background: #1E1E1E;
    color: white;
    padding-left: 15px;
    max-height: 700px;
}

.tab-label-area {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background: #252526;
}

.tab-label {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #2D2D2D;
    color: white;
    font-size: 12px;
}

.tab-label-active {
    background: #1E1E1E;
}

.tab-active {
    display: block;
}

.tab-inactive {
    display: none;
}

.sidebar {
    width: 44px;
    background: #333333;
    padding: 4px;
}

.social-icon {
    padding: 10px;
    margin-bottom: 10px
}

.footer {
    width: 100%;
    background-color: #007ACC;
}

.footer-content {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.footer-content > .right {
    text-align: right;
}

.footer-content > .left {
    float: left;
}

.footer-icon-block {
    padding-left: 10px;
    display: inline-block;
}  

pre {
    height: auto;
    max-height: 90%;
    overflow: auto;
    margin: 0em;
}​