h1 {
}

body {
    /* background-color: #326938 ; */
}

div {
    border: 1px solid black;
    box-sizing: border-box;
    vertical-align: top;
}

.content {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 800;
    min-height: 400;
    width: 80%;
    height: 90%;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.tab-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tab-text-area{
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
}

.tab-label-area {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.tab-label {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar {
    width: 50px;
    height: 100%;
}

.social-icon {
    padding: 10px;
    margin-bottom: 10px
}

.footer-icon {
    /* padding-left: 10px; */
}

.footer {
    width: 100%;
    background-color: #007ACC;
}

.footer-content {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.footer-content > .right {
    text-align: right;
}

.footer-content > .left {
    float: left;
}

.footer-icon-block {
    padding-left: 10px;
    display: inline-block;
}