h1 {
}

body {
    /* background-color: #326938 ; */
}

div {
    border: 1px solid black;
    box-sizing: border-box;
    vertical-align: top;
}

.content {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 800;
    min-height: 400;
    width: 80%;
    height: 90%;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.tab {
    height:100%;
    display: inline-block;
}

#left-tab {
    width: 50%;
}

#right-tab {
    width: 50%;
}

.sidebar {
    width: 50px;
    height: 100%;
}

.social-icon {
    padding: 10px;
    margin-bottom: 10px
}

.footer {
    width: 100%;
    background-color: skyblue
}